
<div class="container-fluid mt-5 about-style"id="aboutid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">About me</h1>
      <p class="text-center sub-heading">Get video edited</p>
<div class="row">
   <div class="col-md-6 col-12 hero-text ">
    <figure>
      <img src="https://raw.githubusercontent.com/thapatechnical/DynmaicWebsite/main/images/about.svg" alt="Image">
    </figure>
  </div>
  
   <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
    <h1>Video Editing</h1>
    <p>Hi I am a video editor I will edit any video for you I will do unlimited revisions for you I will just charge the amount of 5 dollar I will provide you 1080p video please message me and I will deliver your project in 2 days please message me</p>
 <button class="btn-style btn-primary" herf="https://www.fiverr.com">Fiverr</button>
  </div>
</div>

    </div>
  </div>
</div>